/* #myCanvas { */
    /* padding: 0; */
    /* margin: auto; */
    /* display: block; */
    /* width: 800px; */
/* } */

h1 {
	color: black;
	font-family: "Verdana, sans-serif";
	text-shadow: 1px 1px 1px grey;
}
