.angry {
	width: 54px;
	height: 100px;
	background: url('angry.png');
	animation: run 1s steps(2) 3;
}

@keyframes run {
	100% {background-position: -108px;}
}

.wrapper {
	display:inline-block;
	position:relative;
	border: 10px double green;
	width: 500px;
	height: 500px;
	}



.tui {
	top: 100px;
	left: 100px;

}

img {
	position:absolute;
	left:51%;
	top:10%;
	margin: auto;
	}