#magician {
	max-height: 300px;
	border: 5px outset white;
	}
	
body {
	background-image: url('background.jpg');
}
#cards {
  text-align: center;
}

h1, h3 { 
	color: white;
	font-family: "Verdana, sans-serif";
	text-shadow: 2px 2px 2px grey;
}

img {
	margin: auto;
}

button {
	clear: both;
}

.sets {
	width: 800px;
}

.masthead {
	height: 60px;
}

.blink_me {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

