#body-center {
	text-align: center;
}

#myCanvas {
	background-image: url('background.jpg');
	margin: auto;
	width: 1080px;
	height: 720px;
	/* background-attachment:fixed; */
	background-position:center;
	background-size: cover;
	border: 5px solid red;
	text-align: center;
}

#title {
	color: green;
	margin: auto;
}

button {
	margin-top: 20px;
}

#no {
	top: 10px;
	left: 10px;
	position: relative;
}

#yes {
	top: 10px;
	left: 10px;
	position: relative;

}

body {
	text-align: center;
}