#body-center {
	text-align: center;
}

#myCanvas {
	background-image: url('background.jpg');
	margin: auto;
	margin-bottom: 20px;
	width: 676px;
	height: 720px;
	background-size: 100% 100%;
	background-position:center;
	background-repeat: none;
	border: 5px solid red;
	text-align: center;
	border-radius: 20px;
}

body {
	background-color: #a77fff;
}
button {
	margin-top: 20px;
}

#no {
	top: 150px;
	left: 10px;
	position: relative;
}

#yes {
	top: 150px;
	left: 10px;
	position: relative;

}

body {
	text-align: center;
}

img {
	position: relative;
	padding: 20px 20px 20px 20px;
}