
img {
	height: 200px;
	margin: auto;
	/* float: left; */

}
div {
	padding: 10px;
	text-align: center;

}


.em {
	border-radius: 25px;
	border: 4px solid red;
	color: purple;
	width: 30%;
	float: left;
	margin: auto;
	position: relative;
	text-decoration: underline;
	background-color: white;

}
.anh {
	border-radius: 25px;
	border: 4px solid green;
	color: blue;
	width: 30%;
	float: right;
	margin: auto;
	position: relative;
	text-decoration: underline;
	background-color: white;
}
.result {
	width: 40%;
	float: left;
	position: relative;

}

.result img {
	width: 150px;
}
/* .em img{ */
	/* position: relative; */
/* } */

h1, h2 , h3{
	text-decoration: bold;
	text-shadow: 1px 1px 0px #cccccc;
}

body {
	background-color: #fffb87;
}


.body-center {
	text-align: center;
}
